/* Base */

/*active #76bd53 Green
missing image color: #40444f grey
search hovered text: #4b4b4b
search hovered background: #ffffff
search normal text: #b4b4b6
search normal background: #f4f3f1
alternate contact bakground: #f7f6f4
contact background: #f2f1ef*/

html{
  height: 100%;
}

body {
  font-family: sans-serif, Arial;
  min-height: 100%;
}

/* Layout */
/* Layout styles specified in module styling */

/* Module */
.contacts-module {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
  flex: 1;
}

.contacts-module > header {
  background-color: #333742;
  color: #ffffff;
  padding-left: 10%;
}

.contacts-list {
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contacts {
  margin: 0;
  padding: 0;
}

.contact {
  padding-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f1ef;
  border: 2px solid #b4b4b6;
  border-top: none;
}

.contact:nth-child(even) {
  background-color: #f7f6f4;
}

.contact-image {
  width: 58px;
  height: 58px;
  border: none;
  margin: 0.5rem;

  background-color: #40444f;
  color: #ffffff;

  font-size: 1.5rem;
  text-align: center;
  line-height: 58px;
}

.contact-placeholder {
    display:block;
    visibility:hidden;
}

.contact-image:first-letter {
    visibility:visible;
}​


.contact-name {
  flex: 2;
  margin-left: 1rem;
}

.contact-status-online {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #76bd53;
  margin-right: 1rem;
}

.contact-status-offline {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #B5B5B5;
  margin-right: 1rem;
}

.contacts-search {
  display: inline-flex;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  background-color: #f4f3f1;
  border: 2px solid #b4b4b6;
  border-bottom: none;
  border-top: none;

  /* box-sizing:border-box used to maintain width*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts-search > input {
  flex: 16;
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.search-icon{
  flex: 1;
  padding-left: 5%;
  color: #4f5b66;
}

/* State */
.contacts-hide {
  height: 0;
}

/* Theme */
