/* Base */
html {
  height: 100%;
}
body {
  font-family: sans-serif, Arial;
  min-height: 100%;
}
/* Layout */
/* Layout styles specified in module styling */
/* Module */
.contacts-border {
  border: 2px solid #E4E2E0;
}
.contacts-module {
  bottom: 0;
  position: fixed;
  right: 3rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 280px;
  height: 400px;
  -ms-flex: 1;
  flex: 1;
}
.contacts-module header {
  background-color: #272933;
  color: white;
  padding-left: 10%;
}
.contacts-module header h4 {
  margin: 0.8rem 0 0.8rem 0;
  text-align: left;
}
.hide-container {
  background-color: white;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.contacts-container {
  overflow: scroll;
  height: 90%;
}
.contacts-container ul {
  margin: 0;
  padding: 0;
}
.contact {
  padding-left: 2.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #E4E2E0;
  border-top: none;
}
.contact:last-child {
  border-bottom: none;
}
.contact:nth-child(even) {
  background-color: #F0EFEC;
}
.contact__image {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #31343E;
  color: white;
}
.contact__image img {
  width: 100%;
  height: auto;
}
.contact__placeholder {
  font-size: 1.5rem;
  line-height: 40px;
}
.contact__name {
  text-align: left;
  margin: 0;
  -ms-flex: 2;
  flex: 2;
  margin-left: 0.5rem;
  font-weight: bold;
  color: #21242B;
}
.contact__status {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.contacts-search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  color: #9A9A98;
  background-color: #F2F1EE;
  border: 2px solid #E4E2E0;
  border-bottom: none;
  /* box-sizing:border-box used to maintain width*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.contacts-search:hover {
  color: #404040;
  background-color: white;
}
.contacts-search i {
  -ms-flex: 1;
  flex: 1;
  padding-left: 5%;
}
.contacts-search__field {
  -ms-flex: 13;
  flex: 13;
  background-color: inherit;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.contacts-search__label {
  position: absolute;
  font-size: 1em;
  margin: auto;
  height: 20px;
  line-height: 1.5em;
  top: 0;
  left: 0;
  bottom: 0;
}
.contacts-search__input {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 1em;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.contacts-search__input:focus {
  outline: none;
}
.contacts-search__input:focus + label {
  display: none;
}
.contacts-search__input:valid {
  background-color: inherit;
  color: inherit;
}
.contacts-search__input:valid + label {
  display: none;
}
/* State */
.contacts-hide {
  height: 0;
}
.contact__status--online {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  background-color: #67B642;
}
.contact__status--offline {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  background-color: #B5B5B5;
}
/* Theme */
