/* Base */
html {
  height: 100%;
}
body {
  font-family: sans-serif, Arial;
  min-height: 100%;
}
/* Layout */
/* Layout styles specified in module styling */
/* Module */
.contacts-module {
  bottom: 0;
  position: fixed;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
  flex: 1;
}
.contacts-module > header {
  background-color: #272933;
  color: white;
  padding-left: 10%;
}
.hide-container {
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.contacts-container {
  overflow: scroll;
  height: 90%;
}
.contacts-container > ul {
  margin: 0;
  padding: 0;
}
.contact {
  padding-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #b4b4b6;
  border-top: none;
}
.contact:last-child {
  border-bottom: none;
}
.contact:nth-child(even) {
  background-color: #F0EFEC;
}
.contact-image {
  width: 58px;
  height: 58px;
  border: none;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: #31343E;
  color: white;
}
.contact-placeholder {
  font-size: 1.5rem;
  line-height: 58px;
}
.contact-name {
  flex: 2;
  margin-left: 1rem;
}
.contact-status {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.contact-status-online {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  background-color: #67B642;
}
.contact-status-offline {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  background-color: #B5B5B5;
}
.contacts-search {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #F2F1EE;
  border: 2px solid #b4b4b6;
  border-bottom: none;
  /* box-sizing:border-box used to maintain width*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.contacts-search > input {
  flex: 16;
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.contacts-search > i {
  flex: 1;
  padding-left: 5%;
  color: #9A9A98;
}
/* State */
.contacts-hide {
  height: 0;
}
/* Theme */
